@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rich-black: #011627ff;
    --folly: #ff3366ff;
    --robin-egg-blue: #4ecdc4ff;
    --periwinkle: #b2abf2ff;
    --violet-jtc: #8c3d8c;
    --pale-purple: #FCDDFF;
    --aquamarine: #adf1d2ff;
    --magnolia: #fCedfd;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--magnolia);
        --foreground: var(--rich-black);
        --detail: var(--periwinkle);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--rich-black);
        --foreground: var(--pale-purple);
        --detail: var(--periwinkle)
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vmin;
}

input {
    background-color: var(--foreground);
}


